@import "tailwindcss";
@plugin "../node_modules/daisyui/index.js";

@font-face {
  font-family: "nueuFont";
  src: url("/fonts/nueu/nueu-200.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "nueuFont";
  src: url("/fonts/nueu/nueu-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "nueuFont";
  src: url("/fonts/nueu/nueu-400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "nueuFont";
  src: url("/fonts/nueu/nueu-600.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "nueuFont";
  src: url("/fonts/nueu/nueu-700.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "nueuFont";
  src: url("/fonts/nueu/nueu-900.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "nueuFont Fallback";
  src: local("Arial");
  ascent-override: 80.01%;
  descent-override: 23.76%;
  line-gap-override: 35.28%;
  size-adjust: 96.37%;
  font-display: swap;
}

@theme {
  --font-sans: "nueuFont", "nueuFont Fallback", ui-sans-serif, system-ui,
    sans-serif;
}

body {
  font-family: var(--font-sans);
}
